@model dynamic

@{
    ViewBag.Title = "Get code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pagestyles{
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/table.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/edituser.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/code.css")" />
}

@section pagescripts
{
    <script>
        $(function () {
            ko.applyBindings(notifier);
        });
    </script>
}
<div class="left-panel">
    <div class="panel-content">
        <div class="panel-title">
            <i class="laptop icon"></i> Действия
        </div>
        <div class="search-item ">
            <label class="ui green label">
                Скопируйте код в правой панели и вставьте в клиентский вэбсайт
            </label>
        </div>
    </div>
</div>
<div class="main-area">
    <div class="main-area-content style-9">
        <div class="ui red segment code-div-wrapper">
            <textarea disabled="disabled" class="code-text-area">
                <div class="chat-loader">
                    <link rel="stylesheet" href="http://localhost:52059/Content/styles/style.css" />
                    <link rel="stylesheet" href="http://localhost:52059/Content/styles/semantic/css/semantic.css" />
                    <script src="http://code.jquery.com/jquery-latest.js"></script>
                    <script>
                        var $chat = $.noConflict();
                        var isChatInitialized = false;
                        $chat(function () {
                            $chat(".chat-call-button").click(function () {
                                $chat(".chat-placement").toggle("slow");
                                if (!isChatInitialized) {
                                    $chat(".chat-placement").append("<iframe id='load-iframe'  src='http://localhost:52059/Chat/UserPage' ></iframe>");
                                    isChatInitialized = true;
                                }
                            });
                        });
                    </script>
                    <script type="text/javascript">

                    </script>
                    <div class="chat-placement">placeholder</div>
                    <div class="chat-call-button">
                        <div class="ui down button">
                            <i class="user icon"></i>
                            Нажмите чтобы вызвать оператора
                        </div>
                    </div>
                </div>
            </textarea>
        </div>
    </div>
</div>









