<div class="one field">
    <div class="field">
        <label>Role name</label>
        <div class="ui left labeled icon input">
            <input maxlength="255" data-bind="value: $data.Name, valueUpdate: 'afterkeydown'" type="text" placeholder="Role name">
            <i class="user icon"></i>
            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
</div>