


.left-panel {
    /* background-color: aqua; */
}

.panel-content {
    margin: 15px 5px 15px 25px;
}

.search-item {
    /* background-color: red; */
    margin-bottom: 10px;
}

    .search-item label {
        margin: 0em 0em 2px;
        display: block;
        color: #555555;
        font-size: 0.875em;
    }

.panel-title {
    width: 100%;
    height: 30px;
    /* background-color: blue; */
    margin-bottom: 5px;
    line-height: 30px;
}

.main-area {
    /* background-color: aqua; */
}

.main-area-content {
    margin: 20px;
    /* background-color: BurlyWood; */
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
}

.table-title {
    width: 100%;
    height: 30px;
    /* background-color: blue; */
    margin-bottom: 5px;
    line-height: 30px;
}



.table-header {
    width: 100%;
    height: 30px;
    /* background-color: red; */
    margin-bottom: 5px;
    line-height: 30px;
}

    .table-header table {
        width: 100%;
    }

.table-list {
    top: 65px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    /* background-color: chartreuse; */
    position: absolute;
    overflow-y: auto;
}

.scrolling-table {
    width: 100%;
    /* background-color: DarkOrange ; */
}

    .scrolling-table tr, .table-header table {
        height: 30px;
    }

        .scrolling-table td, .table-header table td {
            padding: 0px 10px 0px 10px;
        }

.table-header tr {
    background: url(images/table-top-bar-background.png);
}

.table-header tr, .table-header td, .table-list tr {
    border: 1px solid #e3e3e3;
}

.table-list td {
    background: white;
}

.table-header table, .table-list table {
    border-collapse: collapse;
    table-layout: fixed;
}

/* checkbox */
.table-header td:nth-child(1), .scrolling-table td:nth-child(1) {
    width: 20px;
}

/* fixed */
.table-header td:nth-child(2), .scrolling-table td:nth-child(2) {
    width: 200px;
}


/* operations */
.table-header td:nth-last-child(1), .scrolling-table td:nth-last-child(1) {
    width: 45px;
}

.table-header td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.oprations .edit {
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    /* background-color: black; */
    float: left;
    cursor: pointer;
    vertical-align: center;
    opacity: 0.5;
}

.oprations .del {
    top: 0px;
    left: 15px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    /* background-color: black; */
    float: left;
    vertical-align: center;
    opacity: 0.5;
}

.scrolling-table tr:hover .del, .scrolling-table tr:hover .edit {
    opacity: 1.0;
}

.avatar-container {
    position: relative;
}

.avatar-box {
    width: 100px;
    height: 100px;
}

.avatar-control-box {
    height: 100px;
    position: absolute;
    margin-righ: 5px;
    right: 1px;
    left: 110px;
    top: 0px;
}

.input-file-container {
    position: relative;
}

    .input-file-container .user-avatar {
        position: relative;
        text-align: right;
        -moz-opacity: 0;
        filter: alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
        border: 1px solid;
        position: absolute;
        top: 0px;
        width: 200px;
        height: 36px;
    }

    .upload-button {
        margin-top: 5px !important;
    }
